* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20em;
  letter-spacing: 0.02em;
  margin: 0;
  line-height: 0.8em;
  font-weight: bold;
}

.estimate {
  color: #fff;
  margin-right: 0.1em;
  margin-left: 0.1em;
}

.howth, .bray {
  color: #d2d469;
}

.howth-title, .bray-title {
  color: #d2d469;
  font-size: 0.25em;
  opacity: 0;
  line-height: 0.25em;
  transition: opacity 0.1s ease;
}

.malahide-title, .greystones-title {
  color: #4c6a44;
  font-size: 0.25em;
  opacity: 0;
  line-height: 0.25em;
  transition: opacity 0.1s ease;
}

.malahide, .greystones {
  color: #4c6a44;
}

.line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.titles {
  display: flex;
  gap: 1em;
  height: 0.25em;
  pointer-events: none;
}


.line-container:hover .howth-title,
.line-container:hover .bray-title,
.line-container:hover .malahide-title,
.line-container:hover .greystones-title {
  opacity: 1;
}

#lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

#disconnected{
  display: none;
  color: white;
  font-size: 0.25em;
  justify-content: center;
  height: 10%;
}

#no-trains {
  display: none;
  color: white;
  font-size: 0.25em;
  color: white;
  text-align: center;
}
